// /***************** General *****************/

// $border-radius: .3rem;
// $border-radius-lg: .3rem;
// $border-radius-sm: .3rem;


/***************** Colors *****************/
@import "./colors";
// $body-bg: $primary;
// $link-hover-color: $primary;

/***************** Typography *****************/

$font-family-sans-serif: 'Inter',
sans-serif !default;
$font-family-base: $font-family-sans-serif !default;


/***************** Input *****************/

// $input-bg: #EDF2F7;
$input-focus-bg: white;
$input-border-radius: 18px;

$input-btn-focus-width: 0rem;
// $input-btn-padding-y-lg: 0.95rem;
// $input-btn-padding-x-lg: 2rem;
// $input-btn-font-size-lg: .89rem;
// $btn-font-size-lg: 1.05rem;