@import "./variables";

#app {
    height: 100vh;
    background: $background-color;
    display: flex;
    flex-direction: column;
}

#app>nav {
    background: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;

    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.01);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.01);
}

nav>img {
    height: 100%;
}

#app>main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem 1rem;
}

main>.input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-container>form {
    flex: 1;
}

form>.form-header {
    padding-bottom: 2.25rem;

    p {
        width: 80%;
        text-align: left;
    }
}

form>.input-group {
    display: flex;
    flex-direction: column;

    .input-with-tag {
        padding-bottom: 1.75rem;
    }
}

main>.results-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 1rem;

    h1,
    h3,
    h4,
    p {
        margin: 0;
        padding: 0;
    }
}

.results-container>h3 {
    font-weight: 600;
    color: $primary-color;
}

.results-container>.results-header {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 3em;
    }

    p {
        width: 80%;
    }
}

.results-container>.results-table {
    display: flex;
    flex-direction: column;

    h4 {
        border-bottom: 8px solid $primary-color;
        padding-bottom: 8px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        color: $gray-darker;

        li {
            display: flex;
            border-bottom: 1px solid $gray-darker;
            padding-bottom: .5rem;

            .macro {
                flex: 1;
            }
        }
    }
}

.results-container>.suggestions-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .header {
        display: flex;
    }

    .header>h4:nth-child(2) {
        margin-left: auto;
        color: $primary-color;
        cursor: pointer;
    }

    .videos {
        display: flex;
        gap: 1rem;
        padding: 1rem 0;
        overflow-x: scroll;
    }

}

main>.all-videos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
        color: $primary-color;
        text-decoration: underline;
        cursor: pointer;
        text-align: left;
        padding: .5rem 0;
    }

    .videos {
        display: flex;
        gap: 1rem;
        overflow-x: scroll;
    }
}

#app>footer {
    background: #fff;
    padding: .75rem 1rem;
    display: flex;
    flex-direction: column;

    -webkit-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.01);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.01);

    .buttons-container {
        display: flex;
        flex-direction: column;
    }

    .two-buttons {
        flex: 1;
        display: flex;
        gap: 1rem;

        .btn {
            flex: 1;
        }
    }
}

/************* Landing Page ***************/
#landing>.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: $background-color;

    nav {
        position: absolute;
        display: flex;
        height: 120px;
        width: 100vw;
    }

    .content {
        flex: 1;
        display: flex;

        .left {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .75rem;
            padding: 0.5rem 1rem;
        }

        .left>.display {
            display: flex;
            align-items: center;
            gap: .65rem;
            color: $text-black;

            h1 {
                font-weight: 900;
                font-size: 5em;
                margin: 0;
            }

            img {
                width: 80px;
                height: 80px;
            }
        }

        .left>p {
            font-weight: 500;
            font-size: 1.5em;
            text-align: left;
            margin: 0;
            max-width: 420px;
            color: $text-dark;
        }

        .left>.btn {
            max-width: 220px;
            border-radius: 40px;
            padding: 1rem;
        }

        .right {
            flex: 1;
            display: flex;
            flex-direction: column;

            div {
                flex: 1;
                display: flex;
                align-items: center;
                background-color: #F8C291;

                img {
                    width: 100%;
                }
            }
        }
    }
}

/*********** Mobile Optimization *********/
@media screen and (max-width: 760px) {
    #landing>.hero>.content {
        flex-direction: column;

        .left {
            flex: 1;

            .display>h1 {
                font-size: 3em;
            }

            p {
                font-size: 1em;
                max-width: 300px;
            }
        }

        .right {
            flex: 1;
        }

    }
}


/************* Helpers ********************/
@media screen and (min-width: 540px) {
    .container {
        width: 540px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .responsive-container {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .responsive-container {
        width: 720px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .responsive-container {
        width: 950px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .responsive-container {
        width: 1100px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1400px) {
    .responsive-container {
        width: 1320px;
        margin: 0 auto;
    }
}