@import "./variables";

nav {
    position: absolute;
    left: 0;
    z-index: 2;
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    background-color: white;
    @include box-shadow;

    header {
        width: 100%;
        height: 100%;
        padding: .5rem 1rem;

        img {
            width: 60px;
        }

    }
}

main {
    height: 100vh;
    display: flex;

}

main>div:nth-child(1) {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $background-color;
}

main>div:nth-child(2) {
    height: 100%;
    flex: 1;
    display: flex;

    overflow-y: scroll;
}

main>div:nth-child(2)>form {
    flex: 1;
    padding: 5rem 4rem 5rem 4rem;
    display: flex;
    flex-direction: column;

    h2 {
        text-transform: capitalize;
        margin-top: 2.5rem;
    }

    .text-fields {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .buttons-wrapper {
        margin: 3rem 0;
        display: flex;
        justify-content: flex-end;

        input[type=button]:nth-child(1) {
            margin-right: auto;
        }
    }
}