@import "./variables";

.input-container {
    display: flex;
    align-items: center;

    span {
        width: 20px;
        position: relative;
        right: 40px;
        font-weight: 700;
        font-size: 14px;
        color: $placeholder-color;
    }

    input {
        padding: 1rem 1.4rem;
        border: 2px solid $primary-color;
        border-radius: 25px;
        @include box-shadow;

        transition: background .15s, color .15s;

        &:focus {
            outline: none;
            background-color: #e8e8f0;
            color: #333;
        }
    }
}

.select {
    display: flex;
    align-items: center;

    input[type=button] {
        padding: 1.2rem 2.4rem;
        background-color: transparent;
        color: $primary-color;
        border-top: 2px solid $primary-color;
        border-bottom: 2px solid $primary-color;
        border-right: 1px solid $primary-color;
        border-left: 1px solid $primary-color;
        border-radius: 0;
        font-weight: 800;

        transition: background .1s;
        transition: color .3s;

        &:first-child {
            border-left: 2px solid $primary-color;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        &:last-child {
            border-right: 2px solid $primary-color;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }

        &:hover {
            background-color: $primary-color;
            color: white;
        }
    }

    .selected {
        background-color: $primary-color !important;
        color: white !important;
    }
}


.btn {
    padding: 1.2rem 2.4rem;
    background-color: $primary-color;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 2px;
    cursor: pointer;

    @include box-shadow
}

.btn-link {
    padding: 1.2rem 2.4rem;
    background-color: transparent;
    color: $primary-color;
    border: 0;
    outline: 0;
    border-radius: 2px;
    cursor: pointer;

    @include box-shadow
}