@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);

@import "./styles/myvariables";

@import "../node_modules/bootswatch/dist/lux/variables";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "../node_modules/bootswatch/dist/lux/bootswatch";

/*******************************************************/

#main {

    #left {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    #right {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
}

@media screen and (max-width: 992px) {
    #left {
        display: none !important;
    }
}