.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.page>nav {
    background: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;

    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.01);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.01);
}

.page>main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem 1rem;
    background-color: #FAFAFA;
}

.page>footer {
    background: #fff;
    padding: .75rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    -webkit-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.01);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.01);
}
